*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Merriweather', serif;
}

body{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

a{
    text-decoration: none;
    color: inherit;
}

.header{
    display: flex;
    height: fit-content;
    flex-direction: column;
}

.header, .main, .footer{
    width: 100%;
}

.header > .nav-inicio{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: rgb(56, 137, 172);
    color: rgb(255, 255,255);
}

.nav-inicio-izquierda > .nav-inicio-izquierda-correo{
    margin-inline: 10px;
}

.nav-inicio-izquierda-correo > a{
    display: block;
}

.nav-inicio-derecha{
    display: flex;
    flex-flow: row nowrap;
}

.nav-inicio-derecha i{
    font-size: 1.5rem;
    margin-left: 10px;

}

.nav-inicio-derecha i:last-child{
    margin-right: 10px;
}


.nav-principal >.nav-principal-izquierda > .PetShop{
    text-align: center;
}

.nav-principal > .nav-principal-derecha > .lista-menu{
    display: flex;
    list-style: none;
    flex-flow: row wrap;
}

.lista-menu > li > a{
    margin-inline: 5px;
}

.lista-menu > li > a:last-child{
    margin-right: 10px;
}

.main { 
    display: flex;
    flex-flow: column nowrap;
}

.main > .inicio{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    background-color: rgb(199, 199, 199);
}

.main > .inicio > .tarjeta{
     display: flex;
     flex-flow: column nowrap;
     text-align: center;
     align-items: center;
     width: 100%;
     max-width: 400px;
     margin: 0 auto;
}

.main > .inicio > .tarjeta > .tarjeta-titulo{
    color: rgb(56, 137, 172);
}


.main > .inicio > .tarjeta > .tarjeta-imagen{
    height: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
}

.main > .inicio > .tarjeta > .tarjeta-imagen > img{
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    max-width: 180px;
    height: auto;
    box-shadow: 0px 0px 30px #000;
}


.main > .descargar-app, .footer{
    text-align: center;
    background-color: #000;
    color: #fff;
}


.main> .descargar-app > .botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 10px;
    margin-bottom: 20px;
}

.main> .descargar-app >.botones > .boton-app{
    background-color: rgb(56, 137, 172);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    max-width: 300px;
}

.main > .registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(116, 116, 116);
    padding-bottom: 40px;
}


.info-registro{
    color: rgb(56, 137, 172);
    text-align: center;
}

.formulario {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.grupo-formulario {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.grupo-formulario label {
  font-weight: bold;
  color: #fff;
}

.formulario > input{
    display: block;
}


.formulario input[type="text"],
.formulario input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.formulario input[type="checkbox"] {
  margin-right: 10px;
}

.formulario .condiciones {
  display: flex;
  align-items: center;
  gap: 10px;
}

.formulario input[type="submit"] {
  color: rgb(17, 17, 17);
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.nota-campos {
  font-size: 0.9rem;
  color: #eee;
}

.imagen-formulario img {
  max-width: 250px;
  border-radius: 10px;
  margin-bottom: 20px;
}


.contenedor-registro{ 
    display: flex;
    gap: 10px;
}

.footer{
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer > p{
    margin: 10px auto;
}

@media (min-width: 768px){
    .main > .inicio{
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .main > .inicio > .tarjeta{
        width: 40%;
    }

    .header > .nav-principal{
        flex-direction: row;
    }

    .nav-principal{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-principal-izquierda > .PetShop{
        margin-left: 10px;
    }
}
